/* .game-grid, .matrix-row, .matrix-col {
    width: 30vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
	border-right: 2px;
	border-left: 2px;
    border-bottom: 2px;
    border-top: 2px; 
	border-style: solid;
    border-color:brown;
	/* border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
	/* border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%; */
  }

  .btn {
	width: "100px";
	height: "30px";
  } */